@model Pasted.Models.Paste

<div class="container" id="main">
    <div class="row">
        <div class="col-xs-6">
            <pre>@Model.Content</pre>
        </div>
        <div class="col-xs-12">
            <p>Language: @Model.Language.Name</p>
        </div>
    </div>
</div>

