@model Pasted.Models.Paste

@{
    ViewData["Title"] = $"paste:{Model.Id}";
}

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="well">
            <pre>
                <code class="@(Model.Language?.Tag ?? "no-highlight")">@Model.Content</code>
            </pre>
            <span class="label label-primary">Language: @(Model.Language?.Name ?? "None")</span>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/lib/highlightjs/styles/zenburn.css">
<script src="~/lib/highlightjs/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>