@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="home-hero">
            <!--<div class="well">
                <h1>Pasted.NET</h1>
                <p>Lorem Ipsum Dolor Amet</p>
            </div>-->

            <div class="card">
                <div class="card-height-indicator"></div>

                <div class="card-content">
                    <div class="card-image">
                        <img src="/images/bg.jpg" alt="Pasted.NET">
                        <h1 class="card-image-headline">Pasted.NET</h3>
                    </div>

                    <div class="card-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend eu quam ac ullamcorper. Vestibulum id augue id sem feugiat accumsan. Morbi in sapien ac nisi consectetur hendrerit. Pellentesque tempor et ex a aliquet. Etiam euismod velit ut ipsum lobortis, non ultrices nulla fringilla. Vestibulum non tortor neque. Nam ullamcorper purus nulla, in aliquet odio viverra eu. In pretium quam in nisl euismod vehicula. Quisque eget semper nibh, fermentum volutpat diam. Sed auctor pellentesque est sed gravida. Vestibulum accumsan vulputate nisi, in pulvinar leo tristique sit amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

