body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 40px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.home-hero .card-image {
    background: #111;
}

.home-hero .card-image img {
    opacity: 0.3;
}

.home-hero p {
    font-size: 20px;
}

#main {
    margin-top: 20px;
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow: scroll;
}

pre {
    padding: 0;
    background: none;
    border: none;
}

pre code {
    white-space: pre;
}