
@{
    ViewBag.Title = "Test Tasks";
        
}

<h2>Test Tasks</h2>
<h4>Last Task: @ViewBag.LastExecution</h4>

<p>@Html.ActionLink("Test one job (Sending a single email)", "SendSingleEmail")</p>

<p>@Html.ActionLink("Test one job (Sending a email)", "SendMultipleEmail")</p>


<p><a href="/hangfire" target="_blank">Go to HangFire Dashboard</a></p>

<hr />

<p>@Html.ActionLink("Put Message in Queue", "PutMessage")</p>

<p><a href="http://vps45881.vps.ovh.ca:15672/" target="_blank">Go to RabbitMQ Management Console</a></p>